body {
    font-family: fantasy;
    background-position: center;
    background-image: url("../images/images.jpeg")
    background-repeat: no-repeat;
    background-size: cover;
    text-emphasis-color: red;s
}
 li {
    text-decoration-color: pink;
    text-anchor: inherit;
    background-attachment: fixed;
    text-emphasis-color: green;
}

h1 {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
h4 {
    color: yellowgreen;
    background-color: darkslategray;
    font: oblique;
    font-display: red;
    background-attachment:blue;
    text-align: center;
}
