body {
    font-family: 'Courier New', Courier, monospace;
    background-position: center;
}
. li {
    text-decoration-color: aliceblue;
    text-anchor: inherit;
    background-attachment: fixed;
    text-emphasis-color: green;
}
img {
    position: initial;
    left: 0%;
    top: 0%;
    height: auto;
    opacity: 0.6;
    width: 0%;
}

h1 {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
h4 {
    font: outline;
    font-display: red;
    background-attachment:blue;
    text-align: center;
}